dash
dash-renderer
dash-html-components
dash-core-components
dash-bootstrap-components
plotly
dash-table
pandas
pyyaml
jupyterlab
Flask-Caching
Flask-SQLAlchemy
Flask-Login
SQLAlchemy
Werkzeug
configparser2